@import '../../utils/styles/colors.scss', '../../utils/styles/spacing.variables.scss';

.Pagination {
  margin: 3*$gutter 0;
  position: sticky;
  top: 100vh;
}

.Pagination-Link {
  text-decoration: none;
  padding: $gutter;
  color: $color-quaternary-dark;

  &:hover {
    background-color: $color-secondary-hover;
    border-radius: 6px;
  }
}

.Pagination-Link_active {
  background-color: $color-secondary-hover;
  border-radius: 6px;
}
