@import '../../utils/styles/spacing.variables.scss';

.EditProfileModal {
  max-width: 32rem;
}

.EditProfileModal-Row,
.EditProfileModal-Col {
  padding: $gutter;
}

.EditProfileModal-AlertMessage {
  margin: 0 auto;
}
