@import '../../utils/styles/colors.scss', '../../utils/styles/spacing.variables.scss';

.AuthenticationLayout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.AuthenticationLayout-Left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.AuthenticationLayout-About {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 70%;
}

.AuthenticationLayout-Logo {
  align-self: center;
  padding: $gutter*2;
}

.AuthenticationLayout-Description {
  text-align: center;
}

.AuthenticationLayout-Right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: $color-auth-layout-background-primary;
}
