@import '../../utils/styles/colors.scss', '../../utils/styles/spacing.variables.scss';

.Button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  background-color: $color-button-primary-background;
  color: $color-button-text;
  width: 10rem;
  padding: $gutter/2 $gutter;
  border-radius: 6px;
  border: none;
  text-decoration: none;

  &:hover {
    background-color: $color-button-primary-background-hover;
  }
}

.Button_secondary {
  background-color: $color-button-secondary-background;
  color: $color-button-secondary-text;
  border: solid 1px $color-button-border;

  &:hover {
    background-color: $color-button-secondary-background-hover;
  }
}

.Button_google {
  background-color: $color-button-google-background;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 2px;
  font-size: 0.875rem;
  width: 13.45rem;
  height: 2.5rem;
}
