@import '../../utils/styles/colors.scss', '../../utils/styles/spacing.variables.scss';

.DashboardPage {
  height: 100%;
  width: 100%;
  padding: 0 $gutter;
  overflow-y: auto;
}

.DashboardPage-Content {
  padding: $gutter*2 0;
}

.DashboardPage-Content-Header {
  border-bottom: solid 2px $color-admin-dashboard-page-content-header-border;
}

.DashboardPage-Content-HeaderTitles {
  padding: $gutter/2 $gutter*2;
}

.DashboardPage-Content-Files {
  padding: $gutter 0;
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.DashboardPage-Content-Row {
  height: 3.5rem;
  border-bottom: solid 1px $color-project-info-border;
}

.DashboardPage-Row {
  padding: $gutter;
}

.DashboardPage-Statistics {
  margin: $gutter;
}
