@import '../../utils/styles/spacing.variables.scss';

.MyProjectsPage {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.MyProjectsPage-ProjectFolder {
  padding: $gutter*2 0;
}

.MyProjectsPage-Modal-ProjectFolderPanel {
  width: 16rem;
}

.MyProjectsPage-AlertMessage {
  margin: $gutter*2 auto;
}
