$color-blue: #0145ac;
$color-blue-dark: #033785;
$color-blue-google: #4285f4;
$color-white: #fff;
$color-red: #f00;
$color-green: #1e8e3e;
$color-grey:rgb(199, 199, 199);
$color-grey-dark: rgb(65, 65, 65);
$color-black-alpha: rgba(0, 0, 0, 0.5);
$color-black: #000;

$color-primary: $color-blue;
$color-primary-hover: $color-blue-dark;
$color-secondary: $color-white;
$color-secondary-hover: $color-grey;
$color-tertiary: $color-grey;
$color-tertiary-dark: $color-grey-dark;
$color-quaternary: $color-black-alpha;
$color-quaternary-dark: $color-black;
$color-warning: $color-red;
$color-success: $color-green;
$color-info: $color-green;
$color-google: $color-blue-google;

$color-alert-message-background: $color-tertiary;
$color-alert-message-text-warning: $color-warning;
$color-alert-message-text-success: $color-success;

$color-button-primary-background: $color-primary;
$color-button-primary-background-hover: $color-primary-hover;
$color-button-secondary-background: $color-secondary;
$color-button-secondary-background-hover: $color-secondary-hover;
$color-button-text: $color-secondary;
$color-button-secondary-text: $color-tertiary-dark;
$color-button-border: $color-tertiary;
$color-button-google-background: $color-blue-google;
$color-button-google-logo-background: $color-secondary;
$color-button-google-text: $color-secondary;

$color-input-border: $color-tertiary;
$color-input-border-focus: $color-primary;
$color-input-border-warning: $color-warning;

$color-auth-layout-background-primary: $color-primary;
$color-auth-layout-background-secondary: $color-secondary;

$color-project-folder-border:$color-tertiary-dark;
$color-project-folder-text-primary:$color-tertiary-dark;
$color-project-folder-text-secondary:$color-tertiary;

$color-login-page-text: $color-primary;

$color-header-border: $color-tertiary;

$color-navigation-bar-background: $color-secondary;
$color-navigation-bar-user-background: $color-tertiary;
$color-navigation-bar-border: $color-tertiary;

$color-list-item-text: $color-tertiary-dark;
$color-list-item-border: $color-tertiary;
$color-list-item-background-hover: $color-tertiary;
$color-list-item-text-active: $color-secondary;
$color-list-item-background-active: $color-primary;
$color-list-item-active-background-hover: $color-primary;

$color-modal-background: $color-quaternary;
$color-modal-content-background: $color-secondary;
$color-modal-border: $color-tertiary;

$color-project-page-content-header-border: $color-quaternary;

$color-file-text: $color-tertiary-dark;
$color-file-border: $color-tertiary;
$color-file-background-hover: $color-tertiary;

$color-folder-text: $color-tertiary-dark;
$color-folder-border: $color-tertiary;
$color-folder-background-hover: $color-tertiary;

$color-dropdown-background-actions: $color-secondary;
$color-dropdown-symbol: $color-quaternary-dark;
$color-dropdown-actions: $color-quaternary-dark;
$color-dropdown-background-hover: $color-primary-hover;
$color-dropdown-button-hover: $color-secondary;

$color-button-function-link-hover: $color-primary-hover;
$color-button-function-link-text-hover: $color-secondary;
$color-select-permission: $color-tertiary;
$color-permission-editor: $color-primary;
$color-permission-read: $color-info;

$color-border-container-permission: $color-tertiary;
$color-user-profile-button-background: $color-tertiary;
$color-user-profile-button-background-hover: $color-tertiary-dark;
$color-user-profile-button-text: $color-quaternary-dark;
$color-user-profile-button-text-hover: $color-secondary;
$color-user-profile-informations-border: $color-tertiary;

$color-user-profile-edit-button-background: $color-tertiary;
$color-user-profile-edit-button-background-hover: $color-primary;
$color-user-profile-edit-button-text-hover: $color-secondary;

$color-link-background-active: $color-tertiary;
$color-admin-button-background: $color-secondary;
$color-admin-button-background-hover: $color-secondary-hover;
$color-admin-button-text: $color-quaternary-dark;
$color-admin-button-border: $color-quaternary;

$color-admin-statistics-block-border: $color-primary;

$color-admin-dashboard-page-content-header-border: $color-quaternary;

$color-project-info-border: $color-tertiary;
$color-project-info-background-hover: $color-tertiary;
