@import './colors.scss';

.Panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 2rem 1rem;
  background-color: $color-auth-layout-background-secondary;
  border-radius: 8px;
}

.Panel-Title {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.Panel-InputLabel {
  font-size: 0.75rem;
  padding-left: 0.5rem;
}

.Panel-Field {
  margin: 0.5rem 0;
  width: 75%;
}

.Panel-Button,
.Panel-Link {
  margin-top: 1.5rem;
  width: 65%;
}
