@import '../../utils/styles/colors.scss', '../../utils/styles/spacing.variables.scss';

.ListItem {
  height: auto;
  border-bottom: solid 1px $color-list-item-border;
  transition: background-color 0.3s ease-in-out;
  padding: $gutter/2 $gutter*2;

  &:hover {
    background-color: $color-list-item-background-hover;
  }
}

.ListItem-Link {
  display: block;
  width: 100%;
  height: 100%;
  color: $color-list-item-text;
  text-decoration: none;
  padding: $gutter/2 $gutter;
}

.ListItem-Button {
  width: auto;
}

.ListItem-Text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: center;
}

.ListItem_active {
  background-color: $color-list-item-background-active;

  &:hover {
    background-color: $color-list-item-active-background-hover;
  }
}

.ListItem-Link_active {
  color: $color-list-item-text-active;
}
