@import '../../utils/styles/colors.scss', '../../utils/styles/size.variables.scss';

.Permission-Row {
  height: 3rem;
  border-top: $color-border-container-permission 1px solid;
}

.Permission-Info {
  font-size: $permission-text-font-size;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Permission-Info_Editor {
  color: $color-permission-editor;
  font-size: $permission-text-font-size;
}

.Permission-Info_ReadOnly {
  color: $color-permission-read;
  font-size: $permission-text-font-size;
}

.Permission-Select {
  border-radius: 6px;
  border: $color-select-permission 1px solid;
}

.ProjectFolder-ShareModal-AddBtn {
  width: fit-content;
}
