@import '../../utils/styles/colors.scss';
@import '../../utils/styles/spacing.variables.scss';

.AlertMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 75%;
  padding: $gutter;
  border-radius: 6px;
  background-color: $color-alert-message-background;
}

.AlertMessage_warning {
  font-size: 0.8rem;
  color: $color-alert-message-text-warning;
}

.AlertMessage_success {
  font-size: 0.8rem;
  color: $color-alert-message-text-success;
}
