@import '../../utils/styles/colors.scss';
@import '../../utils/styles/spacing.variables.scss';
@import '../../utils/styles/size.variables.scss';

.NavesFunctionsPage {
  width: calc(100% - #{$nav-bar-width});
  height: 100%;
  overflow-y: auto;
}

.NavesFunctionsPage-Content {
  padding: $gutter*2 0;
  width: 100%;
}

.NavesFunctionsPage-Content-Header {
  padding: $gutter/2 $gutter*2;
  border-bottom: solid 2px $color-project-page-content-header-border;
}

.NavesFunctionsPage-AlertMessage {
  margin: $gutter*2 auto;
}
