@import '../../utils/styles/colors.scss', '../../utils/styles/spacing.variables.scss';

.ProjectFolder {
  border: solid 1px $color-project-folder-border;
  border-radius: 8px;
  width: 13rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: $color-button-secondary-text;
  text-decoration: none;
  align-items: center;
}

.ProjectFolder-MoreActions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.ProjectFolder-Button {
  width: fit-content;
  border: none;
  background-color: transparent;
  color: $color-button-secondary-text;
}

.ProjectFolder-ButtonIcon {
  height: 1.2rem;
  width: 1.2rem;
}

.ProjectFolder-Action {
  width: 100%;
  border: none;
  background-color: transparent;
  color: $color-button-secondary-text;
  font-size: 1rem;
  justify-content: left;
  border-radius: 0;

  &:hover {
    background-color: $color-button-secondary-background-hover;
  }
}

.ProjectFolder-Img {
  padding: 0;
  width: 40%;
  height: 40%;
  margin-bottom: 0 0 $gutter 0;
}

.ProjectFolder-Info {
  border-top: 1px solid $color-project-folder-border;
  width: 100%;
  box-sizing: border-box;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  font-size: 0.8rem;
  height: 3.6rem;
}

.ProjectFolder-Info_projectName {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $color-project-folder-text-primary;
  padding: $gutter/2 0 0 $gutter/2;
}

.ProjectFolder-Info_projectOwner {
  font-family: 'Roboto', sans-serif;
  color: $color-project-folder-text-primary;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: $gutter/2 0 0 $gutter/2;
}

.ProjectFolder-ShareModal-AddBtn {
  width: fit-content;
}

.ProjectFolder-ShareModal-AddPermision-Row {
  height: 4rem;
}

.ProjectFolder-ShareModal-Select {
  border-radius: 6px;
  border: $color-select-permission 1px solid;
}

.ProjectFolder-ShareModal-UsersContainer {
  border-top: $color-border-container-permission 1px solid;
}

.ProjectFolder-ShareModal-AlertMessage {
  margin: $gutter*2 auto;
}

.ProjectFolder-permission {
  padding-right: 2*$gutter;
  padding-top: $gutter/4;
  margin: 0;
  font-size: 0.9rem;
}
