@import '../../utils/styles/colors.scss', '../../utils/styles/spacing.variables.scss';

.RegisterForm-Checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RegisterForm-CheckboxTitle {
  font-size: 0.75rem;
  padding-left: $gutter/2;
}

.RegisterForm-Response {
  width: 100%;
  height: 100%;
}
