@import '../../utils/styles/colors.scss', '../../utils/styles/spacing.variables.scss';

.Input {
  outline: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $gutter/2 $gutter;
  border: solid 1px $color-input-border;
  border-radius: 6px;
  transition: border 0.35s ease-in-out;

  &:focus {
    border-color: $color-input-border-focus;
  }
}

.Input_warning {
  border-color: $color-input-border-warning;
}
