@import '../../utils/styles/colors.scss';
@import '../../utils/styles/spacing.variables.scss';

.ProjectRow {
  height: auto;
  padding: $gutter/2 $gutter*2;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $color-project-info-background-hover;
  }
}

.ProjectRow-Text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProjectRow-SharedWithModal {
  height: 10rem;
}

.ProjectRow-SharedWithUser {
  height: 2rem;
}
