@import '../../utils/styles/colors.scss', '../../utils//styles/spacing.variables.scss';

.Modal {
  width: 100vw;
  height: 100vh;
  background-color: $color-modal-background;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

.Modal-Close {
  background-color: $color-modal-content-background;
  max-width: 70vw;
  height: 4rem;
  min-width: 20rem;
  border-bottom: 1px solid $color-modal-border;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.Modal-Content {
  background-color: $color-modal-content-background;
  max-width: 70vw;
  min-width: 20rem;
  max-height: 80vh;
  overflow-y: auto;
}

.Modal-Actions {
  background-color: $color-modal-content-background;
  max-width: 70vw;
  height: 4rem;
  min-width: 20rem;
  border-top: 1px solid $color-modal-border;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.Modal-Button {
  margin: $gutter 0;
  width: 100%;
  border: none;
  background-color: transparent;
}

.Modal-ButtonIcon {
  height: 1.2rem;
  width: 1.2rem;
}
