@import '../../utils/styles/colors.scss', '../../utils/styles/spacing.variables.scss';

.Header {
  padding: $gutter/2 0;
  border-bottom: 1px solid $color-header-border;
}

.Header-Row {
  min-height: 4rem;
}

.Header-Title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3rem;
}
