@import '../../utils/styles/colors.scss';
@import '../../utils/styles/spacing.variables.scss';

.Folder {
  height: auto;
  padding: $gutter/2 $gutter*2;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $color-folder-background-hover;
  }
}

.Folder-Link {
  display: block;
  width: 100%;
  height: 100%;
  color: $color-folder-text;
  text-decoration: none;
}

.Folder-Action {
  width: 100%;
  border: none;
  background-color: transparent;
  color: $color-dropdown-actions;
  justify-content: left;
  border-radius: 0;

  &:hover {
    background-color: $color-button-secondary-background-hover;
  }
}

.Folder-Text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Folder-Button {
  width: fit-content;
  border: none;
  background-color: transparent;
  color: $color-dropdown-symbol;

  &:hover {
    background-color: $color-dropdown-background-hover;
    color: $color-dropdown-button-hover;
  }
}

.Folder-ButtonIcon {
  height: 1.2rem;
  width: 1.2rem;
}
