@import '../../utils/styles/spacing.variables.scss';
@import '../../utils/styles/colors.scss';

.Statistics {
  padding: $gutter*2 $gutter;
  border: solid 1px $color-admin-statistics-block-border;
  border-radius: 6px;
}

.Statistics-Col {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
