@import '../../utils/styles/colors.scss' , '../../utils/styles/spacing.variables.scss';

.Login-Link {
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  margin-top: $gutter*2;
  width: 70%;

  &:hover {
    text-decoration: underline;
  }
}

.Login-GoogleButton {
  margin-top: $gutter*2;
}

.Login-GoogleImage {
  padding: 0.4375rem;
  background-color: $color-button-google-logo-background;
  margin-left: 1px;
  border-radius: 2px;
}

.Login-GoogleText {
  padding-left: 1.125rem;
  color: $color-button-google-text;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.8px;
}
