@import '../../utils/styles/spacing.variables.scss';

.SharedWithMePage {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.SharedWithMePage-ProjectFolder {
  padding: $gutter*2 0;
}

.SharedWithMePage-Modal-ProjectFolderPanel {
  width: 16rem;
}

.SharedWithMePage-AlertMessage {
  margin: $gutter*2 auto;
}
