@import '../../utils/styles/colors.scss';
@import '../../utils/styles/spacing.variables.scss';
@import '../../utils/styles/size.variables.scss';

.SaveFunctionModal {
  max-width: 28rem;
  min-height: 18rem;
}

.SaveFunctionModal-Filed {
  width: 22rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SaveFunctionModal-Filed-InputField {
  display: none;
}

.SaveFunctionModal-Filed-Label {
  cursor: pointer;
  width: 65%;
  height: 2rem;
  margin: $gutter;
  padding: $gutter/2 $gutter;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-button-primary-background;
  color: $color-button-text;
  border-radius: 6px;

  &:hover {
    background-color: $color-button-primary-background-hover;
  }
}

.SaveFunctionModal-ChosenFile {
  max-height: 15rem;
  font-size: 0.8rem;
}

.SaveFunctionModal-ChosenFile-File {
  max-width: 20rem;
  height: auto;
  margin: 0;
  border-bottom: solid 1px $color-list-item-border;
  transition: background-color 0.3s ease-in-out;
  padding: $gutter/2 $gutter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: $color-list-item-background-hover;
  }
}

.SaveFunctionModal-Select {
  max-width: 65%;
  text-align: center;
  margin: $gutter auto;
}

.SaveFunctionModal-Select_projects {
  max-width: 75%;
  text-align: center;
  margin: $gutter/2 auto;
}

.SaveFunctionModal-Button {
  margin: $gutter auto;
  margin-top: $gutter*5;
}

.SaveFunctionModal-AlertMessage {
  width: 24rem;
  margin: $gutter auto;
  font-size: 0.8rem;
}
