@import '../../utils/styles/colors.scss';

.DropdownButton {
  position: relative;
}

.DropdownButton-Actions {
  position: absolute;
  z-index: 1;
  background-color: $color-dropdown-background-actions;
  border: 1px solid $color-list-item-border;
}
