@import '../../utils/styles/colors.scss';
@import '../../utils/styles/spacing.variables.scss';

.NavesFunction {
  height: auto;
  padding: $gutter/2 $gutter*2;
  border-bottom: solid 1px $color-file-border;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $color-file-background-hover;
  }
}

.NavesFunction-DropdownButton {
  width: fit-content;
  border: none;
  background-color: transparent;
  color: $color-dropdown-symbol;

  &:hover {
    background-color: $color-dropdown-background-hover;
    color: $color-dropdown-button-hover;
  }
}

.NavesFunction-DropdownButton-List {
  width: 9rem;
}

.NavesFunction-Button {
  width: 100%;

  &:hover {
    background-color: $color-button-function-link-hover;
    color: $color-button-function-link-text-hover;
  }
}

.NavesFunction-Button-Link {
  width: 50%;
}

.NavesFunction-ButtonIcon {
  height: 1.2rem;
  width: 1.2rem;
}

.NavesFunction-Text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.NavesFunction-DropdownButton-List-Action {
  font-size: 14px;
  width: 100%;
  border: none;
  background-color: transparent;
  color: $color-dropdown-actions;
  justify-content: left;
  border-radius: 0;

  &:hover {
    background-color: $color-button-secondary-background-hover;
  }
}

.NavesFunction-Modal-InputField {
  display: none;
}

.NavesFunction-Modal {
  padding: $gutter*2;
  width: 38rem;
  max-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.NavesFunction-Modal-InputField-Label {
  cursor: pointer;
  width: 6rem;
  height: 2rem;
  padding: $gutter/2 $gutter;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-button-primary-background;
  color: $color-button-text;
  border-radius: 6px;

  &:hover {
    background-color: $color-button-primary-background-hover;
  }
}

.NavesFunction-Modal-ChosenFiles {
  width: 20rem;
  max-width: 25rem;
  max-height: 15rem;
  padding: $gutter $gutter*2;
  overflow: auto;
  font-size: 0.8rem;
}

.NavesFunction-Modal-ChosenFiles-File {
  height: auto;
  border-bottom: solid 1px $color-list-item-border;
  transition: background-color 0.3s ease-in-out;
  padding: $gutter/2 $gutter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: $color-list-item-background-hover;
  }
}

.NavesFunction-Modal-Message {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.NavesFunction-Modal-Button {
  margin: $gutter 0;
  width: 100%;
}
