@import '../../utils/styles/colors.scss', '../../utils/styles/spacing.variables.scss';

.UserProfilePage {
  height: 100%;
  width: 100%;
  padding: 0 $gutter;
  overflow-y: auto;
}

.UserProfilePage-SectionTitle {
  font-size: 1.2rem;
  min-height: 2rem;
  padding: $gutter*2 0 $gutter;
}

.UserProfilePage-Infos {
  width: 100%;
  border: solid 1px $color-user-profile-informations-border;
  border-radius: 5px;
}

.UserProfilePage-Infos-Info {
  padding: $gutter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.UserProfilePage-Infos-Edit-Button {
  cursor: pointer;
  padding: $gutter/2 $gutter;
  display: flex;
  justify-content: space-around;
  background-color: $color-user-profile-edit-button-background;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    color: $color-user-profile-edit-button-text-hover;
    background-color: $color-user-profile-edit-button-background-hover;
  }
}

.UserProfilePage-Infos-Password-Button {
  width: 100%;
  margin-top: $gutter*2;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    color: $color-user-profile-edit-button-text-hover;
    background-color: $color-user-profile-edit-button-background-hover;
  }
}
