@import '../../utils/styles/colors.scss';
@import '../../utils/styles/spacing.variables.scss';
@import '../../utils/styles/size.variables.scss';

.NavigationBar {
  width: $nav-bar-width;
  height: 100%;
  border-right: solid 2px $color-navigation-bar-border;
  background-color: $color-navigation-bar-background;
  position: relative;
}

.NavigationBar-Items {
  max-height: 60%;
  overflow: auto;
  width: 17rem;
}

.NavigationBar-Logo {
  display: block;
  width: 12rem;
  padding: $gutter;
  margin: auto;
}

.NavigationBar-User {
  width: 17rem;
  padding-bottom: $gutter;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.NavigationBar-User-Profile {
  width: 100%;
  padding: $gutter $gutter*3;
  color: $color-user-profile-button-text;
  background-color: $color-admin-button-background;
  border: solid 2px $color-navigation-bar-border;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $color-admin-button-background-hover;
  }
}

.NavigationBar-Admin {
  width: 100%;
  padding: $gutter $gutter*3;
  color: $color-admin-button-text;
  background-color: $color-admin-button-background;
  border: solid 2px $color-navigation-bar-border;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $color-admin-button-background-hover;
  }
}

.NavigationBar-UserName {
  font-size: 0.8rem;
  margin: $gutter 0;
}

.NavigationBar_active {
  background-color: $color-link-background-active;
}
