@import '../../utils/styles/colors.scss';
@import '../../utils/styles/spacing.variables.scss';
@import '../../utils/styles/size.variables.scss';

.ProjectPage {
  width: calc(100% - #{$nav-bar-width});
  height: 100%;
  overflow-y: auto;
}

.ProjectPage-Content {
  padding: $gutter*2 0;
}

.ProjectPage-Content-Files {
  padding: $gutter 0;
}

.ProjectPage-Content-Header {
  border-bottom: solid 2px $color-project-page-content-header-border;
}

.ProjectPage-Content-HeaderTitles {
  padding: $gutter/2 $gutter*2;
}

.Project-Content-Row {
  border-bottom: solid 1px $color-file-border;
}

.ProjectPage-Message {
  margin: $gutter*2 auto;
}

.ProjectPage-Modal {
  padding: $gutter*2;
  width: 100%;
  max-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Project-Page-Modal-Button {
  margin: $gutter 0;
  width: 100%;
}

.ProjectPage-Modal-InputField {
  display: none;
}

.ProjectPage-Modal-InputField-Label {
  cursor: pointer;
  width: 6rem;
  height: 2rem;
  padding: $gutter/2 $gutter;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-button-primary-background;
  color: $color-button-text;
  border-radius: 6px;

  &:hover {
    background-color: $color-button-primary-background-hover;
  }
}

.Project-Page-Modal-ChosenFiles {
  width: 20rem;
  max-width: 25rem;
  max-height: 15rem;
  padding: $gutter $gutter*2;
  overflow: auto;
  font-size: 0.8rem;
}

.Project-Page-Modal-ChosenFiles-Title {
  margin-top: $gutter;
  display: block;
  text-align: center;
}

.Project-Page-Modal-ChosenFiles-File {
  height: auto;
  border-bottom: solid 1px $color-list-item-border;
  transition: background-color 0.3s ease-in-out;
  padding: $gutter/2 $gutter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: $color-list-item-background-hover;
  }
}

.Project-Page-Modal-Message {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}
